#news, #news-si{
    height:12px;
    overflow:hidden;
    font-size: 10px;
}


@font-face {
    font-family: gtbold;
    src: url('gtb.woff');
}
@font-face {
    font-family: gtitalic;
    src: url('gti.woff');
}
@font-face {
    font-family: gtbreg;
    src: url('gtr.woff');
}
@font-face {
    font-family: GaurangaTimes;
    src: url('gt-webfont.woff2');
}

.sans, .word, i, .main-sans{
    font-family: gtitalic;
}

.ui-listview > li p.main-sans{
    font-size: 1em;
}

.sans{
    text-align: center;
    font-family: gtitalic;
    font-size: 1.5em;
    font-weight: bold;
}

.tran{
    font-weight: bold;
}
.hide{
    display: none;
}